.instrument{
    background-color: #E6E6FA;
    display:flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    align-itmes: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.active{
    background-color: #9932CC;
    color: white;
}

body{
    text-align: center;
    background-color: #FFF0F5;


}

h1{
    color: #FF69B4;
}

div{
     text-align:center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}
h2,p{
    color:
}
